div {
    display: block;
    width: fit-content;
    border: 0px none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
div.small {
    size: 15px;
}
div.medium {
    size: 20px;
}
div.verdana {
    font-family: Verdana;
}